body,
html {
    background-color: #eef1f5;
    height: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.markdown-editor {
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown-editor {
    .CodeMirror {
        .CodeMirror-scroll {
            min-height: 500px;
            height: 500px;
        }
    }
}

body {
    table {
        width: 100%;
        border: solid #ccc 1px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        tr {
            &:hover {
                background: #fbf8e9;
                -o-transition: all 0.1s ease-in-out;
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -ms-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
            &:last-child {
                td {
                    &:first-child {
                        -moz-border-radius: 0 0 0 6px;
                        -webkit-border-radius: 0 0 0 6px;
                        border-radius: 0 0 0 6px;
                    }
                }
            }
        }
        td {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 10px;
            text-align: left;
            &:first-child {
                border-left: none;
            }
        }
        th {
            border-right: 1px solid #ccc;
            background-color: #dce9f9;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
            padding: 5px;
        }
    }
    code {
        font-family: monospace;
        overflow: auto;
        line-height: 1.45;
        border: none;
    }
    blockquote {
        margin: 0;
        padding-left: 15px;
        border-left: 5px solid #50bfff;
        background-color: #F6F6F6;
    }
    #article-detail {
        p {
            font-size: 16px;
            line-height: 30px;
        }
    }
}